
 body {
   background-image: url("https://png.pngtree.com/background/20230403/original/pngtree-mountains-and-rivers-ancient-architecture-chinese-style-background-picture-image_2269854.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 100vh;

 }

.black-box {
  width: 325px;
  height: 325px; /* Set the desired height */
  background-color: black;
  margin: 50px auto;
  text-align: center;
  color: white; /* Optional: Text color inside the box */
}
.flag-img{
  margin-top: 40px;
  width: 100px;
  border-radius: 50%;
}
h2{
  text-align: center;
  padding-top: 15px;
}
.inp{

  display: inline-block;
  text-align: center;
  margin-top: 90px;
}
.button{
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
